//  Primary
$primary-color: hsl(158, 36%, 37%);
$bg-color: hsl(30, 38%, 92%);

//  Neutral
$heading-color: hsl(212, 21%, 14%);
$text-color: hsl(228, 12%, 48%);
$carr-bg: hsl(0, 0%, 100%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif;  
}